In [1]:
# Data Preparation

# Tourism in Ireland

# Source 1
# https://www.cso.ie/en/statistics/tourismandtravel/
## Tourism and Travel
### Household Travel Survey
#### Household Travel Survey Quarter 3 2023

# Datasets
##Â Name HTQ01: Travel by Irish Residents - Reason for Journey
## Filename: ./datasets/HTQ01.20240316T180315_TravelByIrishResidents_ReasonForJourney.csv

# Name HTQ17: Domestic Travel by Irish Residents - Reason for Journey, Region Visited
## Filename: ./datasets/HTQ17.20240317T090350_DomesticTravelByIrishResidents_ReasonDestination.csv

# Source 2
# https://www.failteireland.ie/Research-and-Insights.aspx

# Source 3
# https://www.tourismireland.com/research-and-insights#/

In [2]:
import pandas as pd

In [7]:
ds1 = pd.read_csv("./datasets/HTQ01.20240316T180315_TravelByIrishResidents_ReasonForJourney.csv")

In [8]:
ds1.head()

,STATISTIC,Statistic Label,TLIST(Q1),Quarter,C02276V02746,Domestic,C02599V03153,Reason for Journey,UNIT,VALUE
0,HTQ01C1,Number of Trips by Irish Residents,2000Q1,2000Q1,1,Domestic,-,All reasons for journey,Thousand,1169.0
1,HTQ01C1,Number of Trips by Irish Residents,2000Q1,2000Q1,1,Domestic,01,Holiday,Thousand,408.0
2,HTQ01C1,Number of Trips by Irish Residents,2000Q1,2000Q1,1,Domestic,02,Business,Thousand,161.0
3,HTQ01C1,Number of Trips by Irish Residents,2000Q1,2000Q1,1,Domestic,03,Visiting friends/relatives,Thousand,468.0
4,HTQ01C1,Number of Trips by Irish Residents,2000Q1,2000Q1,1,Domestic,08,Other reasons,Thousand,132.0

In [9]:
ds1.shape

(3480, 10)

In [10]:
ds1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3480 entries, 0 to 3479
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   STATISTIC           3480 non-null   object
 1   Statistic Label     3480 non-null   object
 2   TLIST(Q1)           3480 non-null   object
 3   Quarter             3480 non-null   object
 4   C02276V02746        3480 non-null   int64
 5   Domestic            3480 non-null   object
 6   C02599V03153        3480 non-null   object
 7   Reason for Journey  3480 non-null   object
 8   UNIT                3480 non-null   object
 9   VALUE               3416 non-null   float64
dtypes: float64(1), int64(1), object(8)
memory usage: 272.0+ KB

In [11]:
# Data seems clean

In [14]:
ds2 = pd.read_csv("./datasets/HTQ17.20240317T090350_DomesticTravelByIrishResidents_ReasonDestination.csv")

In [15]:
ds2.head()

,STATISTIC,Statistic Label,TLIST(Q1),Quarter,C02599V03153,Reason for Journey,C02196V04140,Region Visited,UNIT,VALUE
0,HTQ17C01,Number of Trips by Irish Residents,20181,2018Q1,-,All reasons for journey,-,State,Thousand,2118.0
1,HTQ17C01,Number of Trips by Irish Residents,20181,2018Q1,-,All reasons for journey,IE04,Northern and Western,Thousand,431.0
2,HTQ17C01,Number of Trips by Irish Residents,20181,2018Q1,-,All reasons for journey,IE041,Border,Thousand,NaN
3,HTQ17C01,Number of Trips by Irish Residents,20181,2018Q1,-,All reasons for journey,IE042,West,Thousand,NaN
4,HTQ17C01,Number of Trips by Irish Residents,20181,2018Q1,-,All reasons for journey,IE05,Southern,Thousand,1038.0

In [16]:
ds2["Reason for Journey"].value_counts()

Reason for Journey
All reasons for journey       828
Holiday                       828
Business                      828
Visiting friends/relatives    828
Other reasons                 828
Name: count, dtype: int64

In [17]:
ds2["Quarter"].value_counts()

Quarter
2018Q1    180
2021Q1    180
2023Q2    180
2023Q1    180
2022Q4    180
2022Q3    180
2022Q2    180
2022Q1    180
2021Q4    180
2021Q3    180
2021Q2    180
2020Q4    180
2018Q2    180
2020Q3    180
2020Q2    180
2020Q1    180
2019Q4    180
2019Q3    180
2019Q2    180
2019Q1    180
2018Q4    180
2018Q3    180
2023Q3    180
Name: count, dtype: int64

In [18]:
ds2["Region Visited"].value_counts()

Region Visited
State                   345
Northern and Western    345
Border                  345
West                    345
Southern                345
Mid-West                345
South-East              345
South-West              345
Eastern and Midland     345
Dublin                  345
Mid-East                345
Midland                 345
Name: count, dtype: int64

In [20]:
ds2["VALUE"].isnull().sum()

2823