In [1]:
# Data Preparation

# Tourism in Ireland

# Source
# https://www.cso.ie/en/statistics/tourismandtravel/
## Tourism and Travel
### Household Travel Survey
#### Household Travel Survey Quarter 3 2023

# Datasets
##Â Name HTQ01: Travel by Irish Residents - Reason for Journey
## Filename: ./datasets/HTQ01.20240316T180315_TravelByIrishResidents_ReasonForJourney.csv

In [2]:
import pandas as pd

In [7]:
ds1 = pd.read_csv("./datasets/HTQ01.20240316T180315_TravelByIrishResidents_ReasonForJourney.csv")

In [8]:
ds1.head()

,STATISTIC,Statistic Label,TLIST(Q1),Quarter,C02276V02746,Domestic,C02599V03153,Reason for Journey,UNIT,VALUE
0,HTQ01C1,Number of Trips by Irish Residents,2000Q1,2000Q1,1,Domestic,-,All reasons for journey,Thousand,1169.0
1,HTQ01C1,Number of Trips by Irish Residents,2000Q1,2000Q1,1,Domestic,01,Holiday,Thousand,408.0
2,HTQ01C1,Number of Trips by Irish Residents,2000Q1,2000Q1,1,Domestic,02,Business,Thousand,161.0
3,HTQ01C1,Number of Trips by Irish Residents,2000Q1,2000Q1,1,Domestic,03,Visiting friends/relatives,Thousand,468.0
4,HTQ01C1,Number of Trips by Irish Residents,2000Q1,2000Q1,1,Domestic,08,Other reasons,Thousand,132.0

In [9]:
ds1.shape

(3480, 10)

In [10]:
ds1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3480 entries, 0 to 3479
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   STATISTIC           3480 non-null   object
 1   Statistic Label     3480 non-null   object
 2   TLIST(Q1)           3480 non-null   object
 3   Quarter             3480 non-null   object
 4   C02276V02746        3480 non-null   int64
 5   Domestic            3480 non-null   object
 6   C02599V03153        3480 non-null   object
 7   Reason for Journey  3480 non-null   object
 8   UNIT                3480 non-null   object
 9   VALUE               3416 non-null   float64
dtypes: float64(1), int64(1), object(8)
memory usage: 272.0+ KB

In [ ]:
#